body {
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

.preheader {
    background-color: aliceblue;
    width: 100%;
    padding: 10px 0;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 40px;
}

.navbar-list li {
    text-align: center;
}

.navbar-list a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    transition: transform 0.2;
}

.navbar-list img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.navbar-list a:hover img {
    transform: scale(1.1);
}